# Modeling Pass The Pigs

After hours of playing this game at a house-warming party, and again playing it for class, I decided why not figure out a way I can be the best there ever was.

The information on how to play and what the game is can be found here:
https://en.wikipedia.org/wiki/Pass_the_Pigs.
Essentially this game is dice with pigs instead of dice.

## Strategy

* Get input data from my class
    * Look for probabilities of outcomes for each dice
    * Maybe look at distributions for outcomes of each dice roll
* Simulate
* ??

## Read the Data

First we read in the data from all teams in my class.

In [6]:
import pandas as pd

data = pd.read_csv("pass_the_pigs.csv")
data

    dot  dot_f  razorback  trotter  snouter  leaning_jowler  other
0    38     52         45       17        2               0      1
1    19     32         32        4        3               0      0
2    14     26         20        7        3               0      2
3    14     21         25        5        1               0      3
4    15     27         40       13        5               0      0
5    32     45         43       10        9               0      0
6    16     24         20        6        1               1      2
7    16     50         53       13        4               1      0
8    24     23         17        7        0               3      0
9    13     25         38       12        3               2      4
10   14     25         22        4        1               0      2

Even though the data looks a bit uneven, we find the percentage that each outcome was found as well as the standard deviation for each outcome for each class.

In [39]:
total_rolls = data.values.sum()

#keys for shorthand, I may want to actually type these out in future or just use a basic conversion
keys = {
    'dot' : 'dot',
    'dot_f' : 'nod',
    'razorback' : 'rzb',
    'trotter' : 'ttr',
    'snouter' : 'str',
    'leaning_jowler' : 'ljw',
    'other' : 'otr'
}

#find percentages for each row to calculate standard deviation
cols = list(keys.keys())

pct_data = data
pct_data[cols] = data[cols].div(data[cols].sum(axis=1), axis=0)

pct_std = pd.DataFrame([pct_data[cols].std()])

pct_std.rename(columns=keys, inplace='True')


# use shorthand for some of these, populate a dictionary of percentages
total_pct = pd.DataFrame.from_dict({
    'dot' : [data['dot'].sum()/total_rolls],
    'nod' : [data['dot_f'].sum()/total_rolls],
    'rzb' : [data['razorback'].sum()/total_rolls],
    'ttr' : [data['trotter'].sum()/total_rolls],
    'str' : [data['snouter'].sum()/total_rolls],
    'ljw' : [data['leaning_jowler'].sum()/total_rolls],
    'otr' : [data['other'].sum()/total_rolls]
})


# input of relative frequencies from wikipedia
wiki_pct = pd.DataFrame.from_dict({
    'dot' : [.349],
    'nod' : [.302],
    'rzb' : [.224],
    'ttr' : [.088],
    'str' : [.030],
    'ljw' : [.0061],
    'otr' : [.0009]
})

In [35]:
#Standard Deviations of each proportion
pct_std

        dot      nod       rzb       ttr       str       ljw       otr
0  0.057471  0.03772  0.055139  0.026299  0.019023  0.013052  0.017999

In [38]:
#total proportions or the average proportion of values
total_pct

        dot      nod       rzb       ttr       str       ljw       otr
0  0.203947  0.32675  0.328447  0.089408  0.027842  0.007522  0.016084

https://en.wikipedia.org/wiki/Pass_the_Pigs#Relative_frequencies

In [40]:
#relative frequencies from Wikipedia 
wiki_pct

     dot    nod    rzb    ttr   str     ljw     otr
0  0.349  0.302  0.224  0.088  0.03  0.0061  0.0009

What we have now are sampling distributions of the proportions from a sample of size 14 in DataFrames.

## Statistics to Note

First, we take a look at the expected values for each outcome. This is a combination of score and probability. https://en.wikipedia.org/wiki/Pass_the_Pigs#Scoring

## Strategies